{$BACKEND_DOMAIN}

encode gzip zstd

#tls /etc/caddy/cert.pem /etc/caddy/key.pem 

redir /api /api/
route /api/* {
    uri strip_prefix /api
    reverse_proxy localhost:8060 {
        # health_uri /ok
        # health_interval 10s

        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}

route /* {
    reverse_proxy localhost:8080 {
        health_port 9000
        health_uri /health/live
        health_interval 10s

        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}

route {
    respond "404 nothing here" 404
}

handle_errors {
    @502 {
        path /session/*
        expression `{http.error.status_code} == 502`
    }
    respond @502 "404 nothing here" 404
}
